<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{
<table>
    <tr>
        <th>Event Name</th>
        <th>Event Description</th>
    </tr>
    @foreach (KeyValuePair<string, string> codingEvent in ViewBag.events)
        {
            <tr>
                <td>@codingEvent.Key</td>
                <td>@codingEvent.Value</td>
            </tr>
         }
</table>
}

